body {
    font-family: Arial;
    margin: 0;
    background-color: lightpink;
}


header {
    background-color: red;
    color: white;
    text-align: center;
    padding: 15px;
}


nav {
    background-color: skyblue;
    text-align: center;
    padding: 10px;
}

nav a {
    margin: 10px;
    text-decoration: none;
    color: black;
}

nav a:hover {
    color: red;
}

/* Section */
section {
    padding: 20px;
}

h2 {
    color: blue;
}

/* Faculty List */
.faculty-list {
    list-style: none;
    padding: 0;
}

.faculty-list li {
    margin: 10px 0;
}

/* Faculty Details */
.details {
    display: none;
    background-color: lightblue;
    padding: 10px;
    margin: 10px 0;
}

.details:target {
    display: block;
}

/* Research Cards */
.card {
    background-color: lightblue;
    padding: 10px;
    margin: 10px 0;
}


.table-box {
    overflow-x: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th {
    background-color: red;
    color: white;
    padding: 10px;
}

td {
    padding: 10px;
    text-align: center;
}

tr:nth-child(even) {
    background-color: lightgreen;
}

footer {
    background-color: red;
    color: white;
    text-align: center;
    padding: 10px;
}